body {
  background-color: #c4f5d3;
}

h1 {
    text-align: center;
    background-color: #52ec80;
    color: white;
    font-style: italic;
    padding: 10px;
    border-radius: 10px;
}

h5{
  text-align: center;
}

.container{
  flex-wrap: wrap; 
  display: flex; 
  flex-direction: row;
  justify-content: space-evenly;  
}

.box {
  flex-direction: row;
  min-width: 307px;
  min-height: 410px; 
  margin: 10px;
  border: solid gainsboro;
  border-radius: 25px;
  background-color:#ffffff;
  padding-bottom: 10px;
}
